[Unit]
Description=Stop L2 Collector at Market Close

[Timer]
OnCalendar=Mon..Fri 17:00:00 America/New_York
Persistent=true

[Install]
WantedBy=timers.target
